[class*="icon_"] {
    display: block;
    background-size: cover;

    &.xs {
        width: 16px;
        height: 16px;
    }

    &.sm {
        width: 24px;
        height: 24px;
    }

    &.lg {
        width: 32px;
        height: 32px;
    }
}

.icon_star01 {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0489 3.92705C11.3483 3.00574 12.6517 3.00574 12.9511 3.92705L14.2451 7.90983C14.379 8.32185 14.763 8.60081 15.1962 8.60081H19.3839C20.3527 8.60081 20.7554 9.84043 19.9717 10.4098L16.5838 12.8713C16.2333 13.126 16.0866 13.5773 16.2205 13.9894L17.5146 17.9721C17.8139 18.8934 16.7595 19.6596 15.9757 19.0902L12.5878 16.6287C12.2373 16.374 11.7627 16.374 11.4122 16.6287L8.02426 19.0902C7.24054 19.6596 6.18607 18.8934 6.48542 17.9721L7.7795 13.9894C7.91338 13.5773 7.76672 13.126 7.41623 12.8713L4.02827 10.4098C3.24456 9.84043 3.64734 8.60081 4.61606 8.60081H8.8038C9.23703 8.60081 9.62099 8.32185 9.75486 7.90983L11.0489 3.92705Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.icon_msg01 {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='15.6528' cy='15.6528' rx='12.6528' ry='12.6528' fill='white'/%3E%3Cpath d='M28.9177 26.386L22.9252 25.3139L26.8499 20.6603L28.9177 26.386Z' fill='white'/%3E%3Ccircle cx='10.027' cy='15.6529' r='1.40587' fill='%23FF8E8B'/%3E%3Ccircle cx='15.652' cy='15.6529' r='1.40587' fill='%23FF8E8B'/%3E%3Ccircle cx='21.2731' cy='15.6529' r='1.40587' fill='%23FF8E8B'/%3E%3C/svg%3E%0A");
}