[class*="icon_"] {
    display: block;
    background-size: cover;

    &.xs {
        width: 16px;
        height: 16px;
    }

    &.sm {
        width: 24px;
        height: 24px;
    }

    &.lg {
        width: 32px;
        height: 32px;
    }

    &.rotate45 {
        transform: rotate(45deg);
    }

    &.rotate90 {
        transform: rotate(90deg);
    }

    &.rotate180 {
        transform: rotate(180deg);
    }

    &.rotate270 {
        transform: rotate(270deg);
    }
}

.icon_star1 {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0489 3.92705C11.3483 3.00574 12.6517 3.00574 12.9511 3.92705L14.2451 7.90983C14.379 8.32185 14.763 8.60081 15.1962 8.60081H19.3839C20.3527 8.60081 20.7554 9.84043 19.9717 10.4098L16.5838 12.8713C16.2333 13.126 16.0866 13.5773 16.2205 13.9894L17.5146 17.9721C17.8139 18.8934 16.7595 19.6596 15.9757 19.0902L12.5878 16.6287C12.2373 16.374 11.7627 16.374 11.4122 16.6287L8.02426 19.0902C7.24054 19.6596 6.18607 18.8934 6.48542 17.9721L7.7795 13.9894C7.91338 13.5773 7.76672 13.126 7.41623 12.8713L4.02827 10.4098C3.24456 9.84043 3.64734 8.60081 4.61606 8.60081H8.8038C9.23703 8.60081 9.62099 8.32185 9.75486 7.90983L11.0489 3.92705Z' fill='%23FF8E8B'/%3E%3C/svg%3E%0A");
}

.icon_msg1 {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='15.6528' cy='15.6528' rx='12.6528' ry='12.6528' fill='white'/%3E%3Cpath d='M28.9177 26.386L22.9252 25.3139L26.8499 20.6603L28.9177 26.386Z' fill='white'/%3E%3Ccircle cx='10.027' cy='15.6529' r='1.40587' fill='%23FF8E8B'/%3E%3Ccircle cx='15.652' cy='15.6529' r='1.40587' fill='%23FF8E8B'/%3E%3Ccircle cx='21.2731' cy='15.6529' r='1.40587' fill='%23FF8E8B'/%3E%3C/svg%3E%0A");
}

.icon_arrow1 {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29414 12.7066C7.68477 13.0973 8.31914 13.0973 8.70977 12.7066L14.7098 6.70664C15.1004 6.31602 15.1004 5.68164 14.7098 5.29102C14.3191 4.90039 13.6848 4.90039 13.2941 5.29102L8.00039 10.5848L2.70664 5.29414C2.31602 4.90352 1.68164 4.90352 1.29102 5.29414C0.900391 5.68477 0.900391 6.31914 1.29102 6.70977L7.29102 12.7098L7.29414 12.7066Z' fill='%23DDDDDD'/%3E%3C/svg%3E%0A");
}

.icon_arrow2 {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29414 12.7066C7.68477 13.0973 8.31914 13.0973 8.70977 12.7066L14.7098 6.70664C15.1004 6.31602 15.1004 5.68164 14.7098 5.29102C14.3191 4.90039 13.6848 4.90039 13.2941 5.29102L8.00039 10.5848L2.70664 5.29414C2.31602 4.90352 1.68164 4.90352 1.29102 5.29414C0.900391 5.68477 0.900391 6.31914 1.29102 6.70977L7.29102 12.7098L7.29414 12.7066Z' fill='white'/%3E%3C/svg%3E%0A");
}

.icon_arrow3 {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2' y='4' width='4' height='4' fill='white'/%3E%3Crect x='6' y='8' width='4' height='4' fill='white'/%3E%3Crect x='10' y='4' width='4' height='4' fill='white'/%3E%3C/svg%3E%0A");
}

.icon_github1 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0C7.16 0 0 7.16 0 16C0 23.08 4.58 29.06 10.94 31.18C11.74 31.32 12.04 30.84 12.04 30.42C12.04 30.04 12.02 28.78 12.02 27.44C8 28.18 6.96 26.46 6.64 25.56C6.46 25.1 5.68 23.68 5 23.3C4.44 23 3.64 22.26 4.98 22.24C6.24 22.22 7.14 23.4 7.44 23.88C8.88 26.3 11.18 25.62 12.1 25.2C12.24 24.16 12.66 23.46 13.12 23.06C9.56 22.66 5.84 21.28 5.84 15.16C5.84 13.42 6.46 11.98 7.48 10.86C7.32 10.46 6.76 8.82 7.64 6.62C7.64 6.62 8.98 6.2 12.04 8.26C13.32 7.9 14.68 7.72 16.04 7.72C17.4 7.72 18.76 7.9 20.04 8.26C23.1 6.18 24.44 6.62 24.44 6.62C25.32 8.82 24.76 10.46 24.6 10.86C25.62 11.98 26.24 13.4 26.24 15.16C26.24 21.3 22.5 22.66 18.94 23.06C19.52 23.56 20.02 24.52 20.02 26.02C20.02 28.16 20 29.88 20 30.42C20 30.84 20.3 31.34 21.1 31.18C27.42 29.06 32 23.06 32 16C32 7.16 24.84 0 16 0V0Z' fill='%23000'/%3E%3C/svg%3E");
}

.icon_velog1 {
    background-image: url("data:image/svg+xml,%3Csvg class='icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 192 192' enable-background='new 0 0 28 28' xml:space='preserve' width='28'%3E%3C!-- %3Csvg width='28' height='10' viewBox='0 0 192 192' fill='currentColor'%3E --%3E%3Cpath id='Website' fill='%23000' fill-rule='evenodd' clip-rule='evenodd' d='M24 0H168C181.255 0 192 10.7451 192 24V168C192 181.255 181.255 192 168 192H24C10.7451 192 0 181.255 0 168V24C0 10.7451 10.7451 0 24 0ZM49 57.9199V65.48H67L80.6799 142.52L98.5 141.26C116.02 119.06 127.84 102.44 133.96 91.3999C140.2 80.24 143.32 70.9399 143.32 63.5C143.32 59.0601 142 55.7 139.36 53.4199C136.84 51.1399 133.66 50 129.82 50C122.62 50 116.62 53.0601 111.82 59.1799C116.5 62.3 119.68 64.8799 121.36 66.9199C123.16 68.8401 124.06 71.4199 124.06 74.6599C124.06 80.0601 122.44 86.1799 119.2 93.02C116.08 99.8601 112.66 105.92 108.94 111.2C106.54 114.56 103.48 118.7 99.76 123.62L88.0601 57.2C87.1001 52.3999 84.1001 50 79.0601 50C76.78 50 72.3999 50.96 65.9199 52.8799C59.4399 54.6799 53.8 56.3601 49 57.9199Z'/%3E%3C/svg%3E");
}

.icon_burger1 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M61.1 224C45 224 32 211 32 194.9c0-1.9 .2-3.7 .6-5.6C37.9 168.3 78.8 32 256 32s218.1 136.3 223.4 157.3c.5 1.9 .6 3.7 .6 5.6c0 16.1-13 29.1-29.1 29.1H61.1zM144 128a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zm240 16a16 16 0 1 0 0-32 16 16 0 1 0 0 32zM272 96a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zM16 304c0-26.5 21.5-48 48-48H448c26.5 0 48 21.5 48 48s-21.5 48-48 48H64c-26.5 0-48-21.5-48-48zm16 96c0-8.8 7.2-16 16-16H464c8.8 0 16 7.2 16 16v16c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V400z'/%3E%3C/svg%3E");
}

.icon_close1 {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.41406' y='23.1172' width='2' height='29.2783' rx='1' transform='rotate(-135 2.41406 23.1172)' fill='black'/%3E%3Crect x='1' y='2.41431' width='2' height='29.2783' rx='1' transform='rotate(-45 1 2.41431)' fill='black'/%3E%3C/svg%3E%0A");
}