.wrapper {
    width: 1440px;
    padding: 40px 20px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    align-items: flex-start;
}

.section_title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .logo {
        .logo_cont {
            font-size: 40px;
            font-weight: 800;
        }
    }

    .menu_list {
        display: flex;
        align-items: center;

        > .item {
            .item_cont {
                font-size: 16px;
            }

            + .item {
                margin-left: 16px;
            }
        }
    }
}

.main_swiper {
    margin-bottom: 40px;

    .swiper-wrapper {
        .swiper-slide {
            border-radius: 20px;
            width: calc(100% - 100px);
            height: 300px;
            background-color: gray;
            overflow: hidden;

            &.swiper-slide-next {
                &::after {
                    content: '';
                    background-color: #00000067;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            * {
                color: #fff;
            }

            > .container {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                padding: 34px;
                opacity: 1;
            }

            .tag_list01 {
                display: flex;

                > .item {
                    border-color: inherit;
                }
            }

            .title {
                font-size: 30px;
                font-weight: bold;
                padding: 0 4px;
            }

            .desc {
                padding: 0 4px;
                margin-top: 8px;
            }
        }
    }

    .swiper_info_wrap {
        width: max-content;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 34px;
        left: calc(100% - 100px - 34px);
        transform: translateX(-100%);
        z-index: 1;
        padding: 8px 12px;
        border-radius: 100px;
        background-color: #FF8E8B;
    }

    .swiper-pagination {
        color: #fff;
        margin: 0 4px;
        
        * {
            color: inherit;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29414 12.7066C7.68477 13.0973 8.31914 13.0973 8.70977 12.7066L14.7098 6.70664C15.1004 6.31602 15.1004 5.68164 14.7098 5.29102C14.3191 4.90039 13.6848 4.90039 13.2941 5.29102L8.00039 10.5848L2.70664 5.29414C2.31602 4.90352 1.68164 4.90352 1.29102 5.29414C0.900391 5.68477 0.900391 6.31914 1.29102 6.70977L7.29102 12.7098L7.29414 12.7066Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: 16px 16px;
        cursor: pointer;
    }

    .swiper-button-prev {
        transform: rotate(90deg);
    }

    .swiper-button-next {
        transform: rotate(-90deg);
    }
}

.footer {
    border-top: 1px solid #FF8E8B;
    padding-top: 40px;
    margin-top: 60px;
    text-align: center;
    color: #FF8E8B;

    p {
        color: inherit;
    }
}

.aside {
    position: sticky;
    top: 20px;
    width: 200px;
    margin-right: 40px;

    .menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;

        > .item {
            display: flex;
            width: 100%;

            .item_cont {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                min-height: 70px;
                font-size: 18px;
                border-radius: 18px;
                background-color: #FAF9FE;
                padding: 8px 20px;
                font-weight: 700;

                span {
                    color: inherit;

                    + span {
                        margin-left: 4px;
                    }
                }
            }

            &.active {
                .item_cont {
                    background-color: #FF8E8B;
                    color: #F4F4F4;
                }
            }

            + .item {
                margin-top: 18px;
            }
        }
    }
}

.section {
    width: calc(100% - 240px);
}

.tab_list {
    display: flex;
    margin-bottom: 20px;

    > .item {
        .item_cont {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 20px;
            border-bottom: 1px solid #D9D9D9;
            font-size: 16px;
            min-width: 110px;
            height: 54px;
            color: #D9D9D9;
            font-weight: 700;
            position: relative;
        }

        &.active {
            .item_cont {
                color: #FF8E8B;

                &::after {
                    content: '';
                    background-color: #FF8E8B;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                }
            }
        }
    }
}

.tab_content {
    width: 100%;
}

.setting_area {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
    padding: 0 4px;
}

.select_type01 {
    position: relative;
    height: 40px;
    
    .select {
        padding: 0 36px 0 16px;
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
        -webkit-appearance: none; /* 크롬 화살표 없애기 */
        -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
        appearance: none; /* 화살표 없애기 */

        &:focus, &:focus-visible {
            outline: none;
            border-color: #FF8E8B;
        }
    }

    &::after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        z-index: -1;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29414 12.7066C7.68477 13.0973 8.31914 13.0973 8.70977 12.7066L14.7098 6.70664C15.1004 6.31602 15.1004 5.68164 14.7098 5.29102C14.3191 4.90039 13.6848 4.90039 13.2941 5.29102L8.00039 10.5848L2.70664 5.29414C2.31602 4.90352 1.68164 4.90352 1.29102 5.29414C0.900391 5.68477 0.900391 6.31914 1.29102 6.70977L7.29102 12.7098L7.29414 12.7066Z' fill='%23DDDDDD'/%3E%3C/svg%3E%0A");
        background-size: 16px 16px;
    }
}

.list_type01 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -40px;

    > .item {
        width: calc((100% - 80px) / 3);
        margin-top: 40px;

        .item_cont {
            display: flex;
            flex-direction: column;

            > * {
                + * {
                    margin-top: 10px;
                }

                &:not(.visual) {
                    padding-left: 4px;
                    padding-right: 4px;
                }
            }

            .visual {
                width: 360px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                position: relative;

                .img {
                    width: auto;
                    height: 30px;
                }

                + * {
                    margin-top: 14px;
                }
            }

            .recommend {
                background-color: #FF8E8B;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                position: absolute;
                right: 14px;
                top: 14px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0489 3.92705C11.3483 3.00574 12.6517 3.00574 12.9511 3.92705L14.2451 7.90983C14.379 8.32185 14.763 8.60081 15.1962 8.60081H19.3839C20.3527 8.60081 20.7554 9.84043 19.9717 10.4098L16.5838 12.8713C16.2333 13.126 16.0866 13.5773 16.2205 13.9894L17.5146 17.9721C17.8139 18.8934 16.7595 19.6596 15.9757 19.0902L12.5878 16.6287C12.2373 16.374 11.7627 16.374 11.4122 16.6287L8.02426 19.0902C7.24054 19.6596 6.18607 18.8934 6.48542 17.9721L7.7795 13.9894C7.91338 13.5773 7.76672 13.126 7.41623 12.8713L4.02827 10.4098C3.24456 9.84043 3.64734 8.60081 4.61606 8.60081H8.8038C9.23703 8.60081 9.62099 8.32185 9.75486 7.90983L11.0489 3.92705Z' fill='%23fff'/%3E%3C/svg%3E%0A");
                background-size: 24px 24px;
                background-position: center;
            }

            .title {
                margin-top: 4px;
                font-size: 18px;
                font-weight: 700;
            }

            .text {
                font-size: 14px;
                color: #6C6C6C;
                margin-top: 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        + .item:not(:nth-child(3n) + .item) {
            margin-left: 40px;
        }
    }
}

.tag_list01 {
    display: flex;
    flex-wrap: wrap;

    > .item {
        padding: 6px 10px;
        border-radius: 100px;
        font-size: 12px;
        border: 1px solid #FF8E8B;
        color: #FF8E8B;
        line-height: 1;
        margin-right: 6px;
        margin-bottom: 6px;
    }
}

.detail_wrap {
    &.black {
        .visual_wrap {
           * {
            color: #222;
           }

           .info_list {
            > .item {
                .title {
                    color: #767676;
                }
            }
        }
        }
    }
    
    .visual_wrap {
        width: 100%;
        padding: 30px;
        border-radius: 20px;

        * {
            color: #fff;
        }

        .logo {
            height: 30px;

            .img {
                width: auto;
                height: 100%;
            }
        }

        .visual_title {
            font-size: 52px;
            margin-top: 10px;
        }

        .info_list {
            display: flex;
            flex-wrap: wrap;
            width: 600px;
            margin-top: 16px;

            > .item {
                margin-right: 16px;
                margin-bottom: 10px;

                .title {
                    margin-right: 6px;
                    color: #D9D9D9;
                    font-size: 16px;
                }

                .info {
                    font-size: 16px;
                }
            }
        }

        .text {
            margin-top: 14px;
        }
    }

    .text_wrap {
        .article:nth-child(2n) {
            .img_list {
                > .item {
                    width: calc((100% - 40px) / 2);
                    height: 500px;

                    + .item:nth-child(3n) + .item {
                        margin-left: 40px;
                    }

                    + .item:nth-child(2n) + .item {
                        margin-left: 0;
                    }
                }
            }
        }

        .img_list {
            display: flex;
            flex-wrap: wrap;

            > .item {
                width: calc((100% - 80px) / 3);
                margin-top: 40px;
                border-radius: 20px;
                overflow: hidden;
                height: 320px;

                .item_cont {
                    width: 100%;
                    height: 100%;

                    .img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                + .item:not(:nth-child(3n) + .item) {
                    margin-left: 40px;
                }
            }
        }

        .title {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 700;
        }

        .text {
            margin-top: 16px;
            line-height: 1.6;
        }
    }
}

.chat_btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1;
    
    .container {
        background-color: #FF8E8B;
        display: block;
        padding: 18px 20px;
        padding-right: calc(8px + 32px + 20px);
        font-size: 18px;
        color: #fff;
        border-radius: 100px;
        font-weight: 600;
        line-height: 1;

        &::after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='15.6528' cy='15.6528' rx='12.6528' ry='12.6528' fill='white'/%3E%3Cpath d='M28.9177 26.386L22.9252 25.3139L26.8499 20.6603L28.9177 26.386Z' fill='white'/%3E%3Ccircle cx='10.027' cy='15.6529' r='1.40587' fill='%23FF8E8B'/%3E%3Ccircle cx='15.652' cy='15.6529' r='1.40587' fill='%23FF8E8B'/%3E%3Ccircle cx='21.2731' cy='15.6529' r='1.40587' fill='%23FF8E8B'/%3E%3C/svg%3E%0A");
            width: 32px;
            height: 32px;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background-size: cover;
        }
    }
}