@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -15px);
    }
}

@keyframes path {
    0% { stroke-dashoffset: var(--length); }
    100% { stroke-dashoffset: 0; }
}

:root {
    --max-width: 1440px;
    --layout-padding: 20px;
    --header-height: 100px;

    --main-color: #FF8E8B;
    --bg-color: #fff;
    --text-color: #222;

    --gray1: #eee;
}

:root[color-theme="dark"] {
    --bg-color: #222;
    --text-color: #fff;
}

.img.black {
    -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
    opacity: 0.5;
}

.wrapper {
    background-color: var(--bg-color);
}

.scroll_down {
    .header {
        transform: translateY(-100%);
    }
}

.wrap {
    padding: var(--header-height) var(--layout-padding) 40px var(--layout-padding);
    max-width: var(--max-width);
    margin: 0 auto;

    &.detail_page {
        max-width: none;
        padding: 0 0 0 0;

        .section {
            margin-top: 0;
        }

        ~ .footer {
            background-color: var(--bg-color);
        }
    }
}

.recommend_title {
    font-size: 32px;
    padding-top: 40px;
    margin: 80px 0 20px 0;
    border-top: 1px solid #ddd;
}

.section_title {
    font-size: 5.4rem; 
    font-size: 3.375rem; 
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 4px;
    margin-bottom: 40px;
}

.section_text {
    margin-top: -24px;
    font-size: 3.4rem;
    font-size: 2.125rem;
    margin-bottom: 100px;
    padding: 0 4px;
}

.article_title {
    font-size: 4rem;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 60px;
    padding: 0 4px;
}

.article_text {
    margin-top: -44px;
    font-size: 3rem;
    font-size: 1.875rem;
    margin-bottom: 60px;
    padding: 0 4px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--bg-color);
    transition: transform 0.5s;
    
    .container {
        width: 100%;
        height: var(--header-height);
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 var(--layout-padding);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .logo {
        .logo_cont {
            font-size: 40px;
            font-weight: 800;

            svg {
                fill: none;
                width: 100px;
                stroke-width: 10px;
            }

            path {
                stroke-dasharray: var(--length);
                stroke-dashoffset: var(--length);
            }

            .svg-bg > path {
                stroke: var(--main-color);
                animation: path var(--duration) ease forwards;
                animation-delay: var(--delay);
            }
            
            .svg-main > path {
                stroke: var(--text-color);
                animation: path var(--duration) ease-in forwards;
                animation-delay: var(--delay);
            }
        }
    }

    .menu_container {
        
    }

    .menu_list {
        display: flex;
        align-items: center;

        > .item {
            .item_cont {
                font-size: 18px;
                text-transform: uppercase;
                color: var(--text-color);
            }

            &.active {
                font-weight: bold;
            }

            + .item {
                margin-left: 60px;
            }
        }

        &.gnb {
            width: max-content;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &.util {
            > .item {
                + .item {
                    margin-left: 20px;
                }
            }
        }
    }

    .close_btn {
        position: absolute;
        top: var(--layout-padding);
        right: var(--layout-padding);
    }
}

.main_swiper {
    margin-bottom: 40px;

    .swiper-wrapper {
        .swiper-slide {
            border-radius: 20px;
            width: calc(100% - 100px);
            height: 500px;
            background-color: gray;
            overflow: hidden;

            &.swiper-slide-next {
                &::after {
                    content: '';
                    background-color: #00000067;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            * {
                color: #fff;
            }

            > .container {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                padding: 34px;
                opacity: 1;
                position: relative;

                .container_cont {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }

            .tag_list1 {
                display: flex;

                > .item {
                    border-color: inherit;
                }
            }

            .title {
                font-size: 30px;
                font-weight: bold;
                padding: 0 4px;
            }

            .desc {
                padding: 0 4px;
                margin-top: 8px;
            }

            .img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                object-fit: cover;
            }
        }
    }

    .swiper_info_wrap {
        width: max-content;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 34px;
        left: calc(100% - 100px - 34px);
        transform: translateX(-100%);
        z-index: 1;
        padding: 8px 12px;
        border-radius: 100px;
        background-color: var(--main-color);
    }

    .swiper-pagination {
        color: var(--bg-color);
        margin: 0 4px;
        
        * {
            color: inherit;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        cursor: pointer;
    }
}

.footer {
    position: relative;
    z-index: 1;
    padding-top: 140px;
    
    .container {
        max-width: var(--max-width);
        padding: 0 var(--layout-padding);
        margin: 0 auto;
        color: var(--main-color);
        font-weight: 400;
        
        .text {
            padding-bottom: 20px;
            border-top: 1px solid var(--main-color);
            color: inherit;
            font-size: 12rem;
            font-size: 7.5rem;
        }
    }
}

.aside {
    position: sticky;
    top: 20px;
    width: 200px;
    margin-right: 40px;

    .menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;

        > .item {
            display: flex;
            width: 100%;

            .item_cont {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                min-height: 70px;
                font-size: 18px;
                border-radius: 18px;
                background-color: #FAF9FE;
                padding: 8px 20px;
                font-weight: 700;

                span {
                    color: inherit;

                    + span {
                        margin-left: 4px;
                    }
                }
            }

            &.active {
                .item_cont {
                    background-color: var(--main-color);
                    color: #F4F4F4;
                }
            }

            + .item {
                margin-top: 18px;
            }
        }
    }
}

.section {
    width: 100%;
    margin-top: 80px;
}

.article {
    + .article {
        margin-top: 120px;
    }
}

.tab_list_wrap {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;

    .handler_button {
        transition: 0.6s;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .active {
        + .handler_button {
            transform: rotate(180deg);
        }
    }
}

.tab_list1 {
    display: flex;

    > .item {
        .item_cont {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 20px;
            border-bottom: 1px solid #D9D9D9;
            font-size: 16px;
            min-width: 110px;
            height: 54px;
            color: #D9D9D9;
            font-weight: 700;
            position: relative;
        }

        &.active {
            .item_cont {
                color: var(--main-color);

                &::after {
                    content: '';
                    background-color: var(--main-color);
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                }
            }
        }
    }
}

.tab_list2 {
    display: flex;
    flex-wrap: wrap;

    &.handler {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;
    }

    &.active {
        flex-wrap: wrap;
        white-space: normal;
        overflow-x: visible;
    }

    > .item {
        margin-right: 12px;
        margin-bottom: 12px;

        .item_cont {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 20px;
            font-size: 16px;
            color: var(--text-color);
            font-weight: 400;
            background-color: var(--gray1);
            border-radius: 100px;
        }

        &.active {
            .item_cont {
                color: var(--bg-color);
                background-color: var(--main-color);
                font-weight: 600;
            }
        }
    }
}

.tab_content {
    width: 100%;
}

.setting_area {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
    padding: 0 4px;
}

.select_type1 {
    position: relative;
    z-index: 1;
    height: 40px;
    
    .select {
        padding: 0 36px 0 16px;
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
        -webkit-appearance: none; /* 크롬 화살표 없애기 */
        -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
        appearance: none; /* 화살표 없애기 */

        &:focus, &:focus-visible {
            outline: none;
            border-color: var(--main-color);
        }
    }

    &::after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        z-index: -1;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29414 12.7066C7.68477 13.0973 8.31914 13.0973 8.70977 12.7066L14.7098 6.70664C15.1004 6.31602 15.1004 5.68164 14.7098 5.29102C14.3191 4.90039 13.6848 4.90039 13.2941 5.29102L8.00039 10.5848L2.70664 5.29414C2.31602 4.90352 1.68164 4.90352 1.29102 5.29414C0.900391 5.68477 0.900391 6.31914 1.29102 6.70977L7.29102 12.7098L7.29414 12.7066Z' fill='%23DDDDDD'/%3E%3C/svg%3E%0A");
        background-size: 16px 16px;
    }
}

.list_type1 {
    > .list {
        display: flex;
        flex-wrap: wrap;

        > .item {
            width: calc((100% - 80px) / 3);
            margin-top: 40px;
            border-radius: 16px;
            overflow: hidden;
            box-shadow: 4px 12px 30px 6px #00000017;
    
            &:hover {
                transform: translateY(-10px);
                transition: 0.5s;
                box-shadow: 4px 12px 20px 6px #0000002e;
            }
            
            .item_cont {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: var(--bg-color);
    
                .info_container {
                    padding: 20px;
    
                    > * {
                        + * {
                            margin-top: 10px;
                        }
                    }
                    
                    .container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
    
                    .tab {
                        background-color: #ddd;
                        border-radius: 100px;
                        padding: 8px 20px;
                    }
    
                    .tag_list1 {
                        > .item {
                            margin: 0;
                        }
                    }
    
                    .title {
                        display: block;
                        font-size: 26px;
                        font-weight: 700;
                        height: 76px;
                        color: var(--text-color);
                    }
        
                    .text {
                        font-size: 14px;
                        color: #6C6C6C;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
    
                .visual {
                    width: 100%;
                    height: 220px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: relative;
    
                    .img {
                        width: auto;
                        /* height: 30px; */
                    }
    
                    + * {
                        margin-top: 14px;
                    }
                }
            }
    
            + .item:not(:nth-child(3n) + .item) {
                margin-left: 40px;
            }
        }
    }
}

.list_type2 {
    > .list {
        > .item {
            position: relative;
            padding-left: 32px;

            &::after {
                content: '';
                width: 14px;
                height: 14px;
                background-color: var(--main-color);
                position: absolute;
                top: 16px;
                left: 0;
                border-radius: 50%;
            }

            &:not(:last-child) {
                padding-bottom: 80px;

                &::before {
                    content: '';
                    width: 3px;
                    height: calc(100% - 14px - 4px - 4px);
                    background-color: var(--main-color);
                    opacity: 0.5;
                    position: absolute;
                    left: 5px;
                    top: calc(16px + 14px + 4px);
                    border-radius: 100px;
                }
            }

            > .item_cont {
                display: flex;

                > .title {
                    font-size: 30px;
                    font-weight: 600;
                }

                .list_container {
                    margin: 10px 0 0 32px;

                    > .list {
                        > .item {
                            cursor: default;

                            > .item_cont {
                                display: flex;

                                > .container {
                                    display: flex;
                                    flex-direction: column;
                                }

                                .info1 {
                                    line-height: 1;
                                    width: 80px;
                                    font-size: 24px;
                                }

                                .title {
                                    font-size: 18px;
                                }

                                .text {
                                    color: #767676;
                                    margin-top: 12px;
                                }
                            }

                            .img_wrap {
                                position: absolute;
                                width: 300px;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                visibility: hidden;
                            }

                            &:hover {
                                .img_wrap {
                                    visibility: visible;
                                }   
                            }

                            + .item {
                                margin-top: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.list_type3 {
    > .list {
        display: flex;
        flex-wrap: wrap;

        > .item {
            width: calc((100% - 400px) / 5);
            
            &:not(:nth-child(5n)) {
                margin-right: 100px;
            }

            &:nth-child(n+6) {
                margin-top: 100px;
            }

            > .item_cont {
                position: relative;
                /* padding: 40px; */
                height: 100%;
                display: flex;
                align-items: center;

                > .container {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

.tag_list1 {
    display: flex;
    flex-wrap: wrap;

    > .item {
        padding: 6px 10px;
        border-radius: 100px;
        font-size: 14px;
        border: 1px solid var(--main-color);
        color: var(--main-color);
        line-height: 1;
        margin-right: 6px;
        margin-bottom: 6px;
    }
}

.tag_list2 {
    display: flex;
    flex-wrap: wrap;

    > .item {
        font-size: 14px;
        color: var(--main-color);
        margin-right: 6px;
        margin-bottom: 6px;
    }
}

.detail_wrap {
    position: relative;
    z-index: 1;

    &.black {
        .visual_wrap {
           * {
            color: #222;
           }

           .info_list {
            > .item {
                .title {
                    color: #767676;
                }
            }
        }
        }
    }
    
    .visual_wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.5;
            z-index: -1;
        }

        .bg_img {
            position: absolute;
            right: 70px;
            top: 50%;
            height: 80%;
            width: auto;
            transform: translateY(-50%);
            z-index: -2;
        }

        > .container {
            width: 100%;
            max-width: var(--max-width);
            padding: 0 var(--layout-padding);
            position: relative;

            > * + * {
                margin-top: 10px;
            }

            > .text {
                max-width: 700px;
            }
        }

        * {
            color: var(--bg-color);
        }

        .logo {
            height: 30px;

            .img {
                width: auto;
                height: 100%;
            }
        }

        .recommend {
            position: absolute;
            right: 30px;
            top: 30px;
        }

        .visual_title {
            font-size: 80px;
        }

        .info_list {
            display: flex;
            flex-wrap: wrap;
            max-width: 600px;
            margin-top: 16px;

            > .item {
                margin-right: 16px;
                margin-bottom: 10px;

                .title {
                    margin-right: 6px;
                    color: #D9D9D9;
                    font-size: 16px;
                }

                .info {
                    font-size: 16px;
                }
            }
        }

        .scroll_down_btn {
            position: absolute;
            bottom: 10px;
            left: 50%;
            animation-name: bounce;
            animation-duration: 2s;
            animation-fill-mode: both;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;

                > i {
                    margin-top: 6px;
                }
            }
        }
    }

    .info_wrap {
        background-color: var(--bg-color);
        margin-top: 100vh;
        width: 100%;
        border-radius: 50px 50px 0 0;

        > .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: var(--max-width);
            padding: 0 var(--layout-padding) 40px var(--layout-padding);
            margin: 0 auto;

            > .button {
                margin-top: 80px;
            }
        }

        .text_wrap {
            margin-top: 40px;
            width: 100%;
    
            .img_list {
                display: flex;
                flex-wrap: wrap;
    
                > .item {
                    flex: 1;
                    margin-top: 40px;
                    border-radius: 20px;
                    overflow: hidden;
                    
                    &:not(:last-child) {
                        margin-right: 40px;
                    }
    
                    .item_cont {
                        width: 100%;
                        height: 100%;
    
                        .img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
    
            .title {
                margin-top: 40px;
                font-size: 26px;
                font-weight: 700;
            }
    
            .text {
                margin-top: 16px;
                line-height: 1.6;
                font-size: 18px;
            }

            .iframe {
                margin-top: 40px;
            }
        }

        .recommend_wrap {
            width: 100%;
        }
    }
}

.button_chat {
    position: fixed;
    right: calc(var(--layout-padding) * 2);
    bottom: calc(var(--layout-padding) * 2);
    z-index: 10;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;

    * {
        color: inherit;
    }

    .container {
        display: flex;
        align-items: center;

        > * + * {
            margin-left: 8px;
        }
    }

    &.primary {
        background-color: var(--main-color);
        color: var(--bg-color);
    }

    &.xs {
    }

    &.sm {
        font-size: 16px;
    }

    &.lg {
        min-width: 140px;
        font-size: 18px;
    }

    &.round {
        border-radius: 100px;
    }
}

*:not(html, body) {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--bg-color);
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }

    *::-webkit-scrollbar-track {
        background-color: var(--main-color);
        border-radius: 10px;
    }
}

.intro_wrap {
    display: flex;

    .img_wrap {
        border-radius: 20px;
        overflow: hidden;
        flex-shrink: 0;

        .img {

        }
    }

    .text_wrap {
        margin-left: 40px;

        .title {
            font-size: 22px;
            font-weight: 700;
            color: var(--main-color);
        }

        .text {
            font-size: 22px;
        }

        > * {
            + * {
                margin-top: 20px;
            }
        }
    }
}

/* media */
@media (max-width: 1000px) {
    :root {
        --header-height: 80px;
    }
    
    .button_chat {
        right: var(--layout-padding);
        bottom: var(--layout-padding);
    }

    .list_type1 {
        > .list {
            > .item {
                width: 100%;
                
                .item_cont {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--bg-color);
        
                    .info_container {
                        padding: 20px;
        
                        > * {
                            + * {
                                margin-top: 10px;
                            }
                        }
                        
                        .container {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
        
                        .tab {
                            background-color: #ddd;
                            border-radius: 100px;
                            padding: 8px 20px;
                        }
        
                        .tag_list1 {
                            > .item {
                                margin: 0;
                            }
                        }
        
                        .title {
                            display: block;
                            font-size: 26px;
                            font-weight: 700;
                            height: 76px;
                        }
            
                        .text {
                            font-size: 14px;
                            color: #6C6C6C;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
        
                    .visual {
                        .img {
                        }
        
                        + * {
                            margin-top: 14px;
                        }
                    }
                }
        
                + .item:not(:nth-child(3n) + .item) {
                    margin-left: 0;
                }
            }
        }
    }

    .detail_wrap {
        & .info_wrap {
            & .text_wrap {
                & .info_article {
                    & .img_list {
                        > .item {
                            width: 100%!important;

                            + .item:not(:nth-child(3n) + .item) {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .header_menu_container-enter-active,
    .header_menu_container-leave-active {
        transition: 0.5s;
    }

    .header_menu_container-enter-from,
    .header_menu_container-leave-to {
        transform: translateX(100%);
    }

    .header_menu_container-enter-active .item,
    .header_menu_container-leave-active .item {
        transition: all 0.8s ease-in-out;
    }

    .header_menu_container-enter-from .item,
    .header_menu_container-leave-to .item {
        transform: translateX(40%);
        opacity: 0;
    }

    .header {
        .container {
            height: 80px;
        }

        .menu_container {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: var(--main-color);
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: var(--layout-padding);
            padding-top: 100px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .logo {
            .logo_cont {
                svg {
                    width: 80px;
                }
            }
        }

        .menu_list {
            &.gnb {
                width: 100%;
                position: static;
                transform: none;
                flex-direction: column;

                > .item {
                    width: 100%;
                    border-bottom: 1px solid var(--text-color);
                    padding-bottom: 20px;
                    margin-bottom: 20px;

                    .item_cont {
                        font-size: 36px;
                    }

                    + .item {
                        margin-left: 0;
                    }   
                }
            }

            &.util {
                margin-top: 40px;
            }
        }
    }

    .footer {
        & .container {
            font-size: 65px;
        }
    }

    .section {
        margin-top: 60px;
    }

    .recommend_title {
        font-size: 32px;
    }
    
    .section_title {
        font-size: 30px;
    }
    
    .section_text {
        font-size: 22px;
    }

    .list_type2 {
        > .list {
            > .item {
                &::after {
                    top: 10px;
                }
    
                &:not(:last-child) {
                    padding-bottom: 40px;
    
                    &::before {
                        top: calc(10px + 14px + 4px);
                    }
                }
    
                > .item_cont {
                    flex-direction: column;
    
                    > .title {
                        font-size: 24px;
                    }
    
                    .list_container {
                        margin: 30px 0 0 0;
    
                        > .list {
                            > .item {
                                > .item_cont {
                                    > .container {
                                        display: flex;
                                        flex-direction: column;
                                    }
    
                                    .info1 {
                                        width: 60px;
                                        font-size: 20px;
                                    }
    
                                    .title {
                                        font-size: 16px;
                                    }
    
                                    .text {
                                        margin-top: 8px;
                                        font-size: 14px;
                                    }
                                }

                                .img_wrap {
                                    position: static;
                                    width: auto;
                                    transform: none;
                                    visibility: visible;
                                    max-height: 0;
                                    overflow: hidden;
                                }
                                
                                &.active {
                                    .img_wrap {
                                        max-height: none;
                                        overflow: visible;
                                        margin-top: 20px;
                                    }
                                }

                                + .item {
                                    margin-top: 20px;
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    .list_type3 {
        > .list {
            display: flex;
            flex-wrap: wrap;
    
            > .item {
                width: calc((100% - 20px) / 2);
                
                &:not(:nth-child(4n)) {
                    margin-right: 0px;
                }
                
                &:not(:nth-child(2n)) {
                    margin-right: 20px;
                }
    
                &:nth-child(n+5) {
                    margin-top: 0px;
                }
    
                &:nth-child(n+3) {
                    margin-top: 20px;
                }
    
                > .item_cont {
                    position: relative;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .main_swiper {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & .swiper-wrapper {
            .swiper-slide {
                width: calc(100% - 30px);

                > .container {
                    padding: var(--layout-padding);
                }
            }
        }

        .swiper_info_wrap {
            position: static;
            transform: none;
            margin-top: var(--layout-padding);
        }
    }
}

@media (max-width: 400px) {}
    